$main-color: #55968F; //darkblue
$second-color: #8ACBBB; //lightblue
$third-color: #C9F658; //green
$fiveth-color: white;// white
$sixth-color: #d8e3b5; // light yellow - card
$font-color-dark: #22313F; //darkgray
$delete-color: #d7934c; //orange

$first-header: 28px;
$second-header: 18px;